USE [master]
GO
/****** Object:  Database [ICT-18-801]    Script Date: 12/19/2020 11:48:49 AM ******/
CREATE DATABASE [ICT-18-801]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ICT-18-801', FILENAME = N'E:\New folder\MSSQL15.SQLEXPRESS\MSSQL\DATA\ICT-18-801.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ICT-18-801_log', FILENAME = N'E:\New folder\MSSQL15.SQLEXPRESS\MSSQL\DATA\ICT-18-801_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICT-18-801].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ICT-18-801]
GO
/****** Object:  Table [dbo].[Product_Details]    Script Date: 12/19/2020 11:48:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Details](
	[Product_ID] [int] NOT NULL,
	[Product_Category] [varchar](50) NOT NULL,
	[Product_Color] [varchar](50) NOT NULL,
	[Product_Size] [varchar](50) NOT NULL,
	[No_of_Products] [int] NOT NULL,
	[Cost_of_Product] [money] NOT NULL,
 CONSTRAINT [PK_Product_Details] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Details]    Script Date: 12/19/2020 11:48:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Details](
	[User_Name] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Full_Name] [varchar](50) NOT NULL,
	[Image] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Product_Details] ([Product_ID], [Product_Category], [Product_Color], [Product_Size], [No_of_Products], [Cost_of_Product]) VALUES (3, N'Trousers            ', N'White               ', N'XL                  ', 2000, 2500.0000)
INSERT [dbo].[Product_Details] ([Product_ID], [Product_Category], [Product_Color], [Product_Size], [No_of_Products], [Cost_of_Product]) VALUES (6, N'Shorts', N'GREEN', N'S', 1500, 300.0000)
GO
USE [master]
GO
